<include file="Common/head"/>
<div class="main">
<include file="Common/left"/>
<div class="main_right">
	<div class="title"><span class="add"></span><strong>后台首页</strong></div>
	<div class="mrclass">		
		<div class="mrlist">
			<div class="jumbotron" style="padding-left:40px;margin:35px 40px 0">
			  <h4>尊敬的 <font color="#f30">{y!$Think.session.Uname}</font>，您好！</h4>
			  <h5 style="font-size:16px;">欢迎使用网站后台系统</h5>
			  <p style="font-size:15px">您在使用过程中有任何的问题，请您联系我们的售后客服！</p>
			  <p style="font-size:15px"> </p>
			  <p></p>
			</div>
		</div>
	</div>
</div>

</div>
<include file="Common/foot"/>
</body>
</html>