<include file="Common/head"/>
<script type="text/javascript">
		window.UEDITOR_HOME_URL="__ROOT__/Site/Common/Plug/Ueditor/";
		window.onload=function(){
			UE.getEditor('ueditor');
		}
	</script>
	<script type="text/javascript" src="__ROOT__/Site/Common/Plug/Ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__ROOT__/Site/Common/Plug/Ueditor/ueditor.all.js"></script>
<div class="main">
	<include file="Common/left"/>
	<div class="main_right">
		<div class="title"><span class="add"></span><strong>添加内容</strong></div>
		<div class="mrclass jz">
			<form action="{y!:U('add_about_form')}"  id="yzform" method="post">
			<div class="mrlist">
				<ul>
					<li>
						<span class="mrtitle fl">内容标题：</span>
						<input type="text" name='title' class='mrinput' />
					</li>
					<li>
						<span class="mrtitle fl">所属栏目：{y!$about.TableName}</span>
						<!-- <input type="hidden" name="classid" value="{y!$about.ID}"> -->
						<input type="hidden" name="tablename" value="{y!$about.TableName}">
						<select name="classid" class="mrselect" >
							<volist name="about" id='vo'>
								<option value="{y!$vo.ID}">&nbsp;{y!$vo.html}{y!$vo.Name}</option>
							</volist>
						</select>
						&nbsp;&nbsp;&nbsp;&nbsp;首页显示：
						<input type="checkbox" name="is_index" >
					</li>
					<foreach name="bltype" item="vo">
					<li>
						<input type="hidden" name="class_type[id][]" value="{y!$vo.id}">
						<input type="hidden" name="class_type[key][{y!$vo.id}]" value="{y!$vo.name}" >
						<input type="hidden" name="class_type[remark][{y!$vo.id}]" value="{y!$vo.remark}" >
						<span class="mrtitle fl"><span style="text-decoration:underline;">{y!$vo.name}:</span></span>
						<input name="class_type[value][{y!$vo.id}]" type="{y!$vo.type}" <if condition="$vo['type'] eq text" > class='mrinput' </if>>
					</li>
					</foreach>

					<li>
						<span class="mrtitle fl">内容描述：</span>
						<textarea name="Desc" class="mrtext"></textarea>	
					</li>
					<li>
						<span class='mrtitle fl'>内容：</span>
						<div class="mrcontent fl">
						<textarea name="content" id='ueditor'></textarea>	
						</div>
						<div class="cl"></div>
					</li>
				</ul>
			</div>
				<div class="fixed_submit">
					<input type="submit" name="dosubmit" class="fixed_submit_sub" value="添加" />
					<a href="{y!:U('index')}" class="fixed_submit_ret">返回</a>
				</div>	
				<input type="submit" name="dosubmit" class="but" value="添加" />
				<a href="{y!:U('index')}" class="ret">返回</a>
			</form>
		</div>
	</div>
	<div class="cl"></div>	
</div>
<include file="Common/footer"/>
</body>
</html>