<include file="Common/head"/> 
<div class="main">
	<include file="Common/left"/>
	<div class="main_right">
		<div class="title">
			<span></span><strong>内容列表</strong>
			<a href="{y!:U('add_about')}" class="op">添加内容</a>
		</div>
		<div class="list">
			<form action="{y!:U('About/delete_about')}" id='form' method="post">
			<table id='playList' cellpadding="0" cellspacing="0">
				<tr>
					<th width="10%">内容ID</th>
					<th width="10%">所属分类</th>
					<th>内容标题</th>
					<th width="15%" style="border:none;text-align:right" >操作</th>
				</tr>	
				<volist name="about_list" id="vo" empty="$empty" >
					<tr>
						<td width="10%">
							<input type="checkbox" class="sj" name="del[]" value="{y!$vo.ID}" />&nbsp;&nbsp;{y!$vo.ID}
						</td>
						<td width="8%" ><font color="#989898">{y!$vo.cname}</font></td>
						<td >{y!$vo.Title}</td>
						<td width="15%" style="border-right:0;text-align:right">
							<a href="{y!:U('update_about',array('aid'=>$vo['ID']))}">[修改]</a>
							<a href="{y!:U('delete_about',array('aid'=>$vo['ID']))}" onclick="return confirm('你确定要删除吗?')">[删除]</a>
						</td>	
					</tr>
				</volist>
				<tr class="bottom">
					<td colspan="4">
						<input type="button" value="全选/全不选" id="selectAll" /> 
						<input type="button" value="反选" id="reverse" />
						<input type="button" value="删除选定" class="list_del">
					{y!$show}
					</td>
				</tr>
			</table>
			</form>
		</div>		
	</div>
	<div class="cl"></div>	
</div>
<include file="Common/footer"/>
</body>
</html>