<extend name="Base:body" />

<block name='content'>

<div class="wrap">
        <!--pc 公司简介 begin -->
        <div class="intro pc">
                <div class="box">
                    <div class="list">
                        <ul>
                            <li class="p1"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p2"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p3"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p4"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p5"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p6"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p7"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                        </ul>
                    </div>
                    
                    <a href="javascript:;" class="prev btn"><</a>
                    <a href="javascript:;" class="next btn">></a>

                    <div class="buttons">
                        <a href="javascript:;"><span class="blue"></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                    </div>
                </div>
                <p>{$content.Content}</p>
        </div>
        <!--pc 公司简介 end -->


        <!-- wap 公司简介 begin -->
        <div class="intro wap">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{:C('TMURL')}/images/banner/02.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{:C('TMURL')}/images/banner/02.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{:C('TMURL')}/images/banner/02.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{:C('TMURL')}/images/banner/02.jpg" alt="" />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <p>{$content.Content}</p>
        </div>
        <!-- wap 公司简介 end -->

        <!-- 扎根科技 begin -->
        <div class="tech">
            <div class="title">
                <h3>十年专注无线测试，用心打造专业品质</h3>
                <p class="pc">专业无线产品测试设备，以及屏蔽箱制造厂商，拥有经验丰富的团队及多项专利，无论是工程技术还是生产服务，苏<br>
州嘉多利精密电子有限公司永远保持最强势的市场竞争力及最弹性的配合度</p>
                <p class="wap">专业无线产品测试设备，以及屏蔽箱制造厂商，拥有经验丰富的团队及多项专利，无论是工程技术还是生产服务，苏州嘉多利精密电子有限公司永远保持最强势的市场竞争力及最弹性的配合度</p>
            </div>
            <ul class="tech-list">
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg1"></div>
                        </div>
                        <em>无线测试方案</em>
                        <p>为客户开发高效的无线产品软硬件测试方案<br></p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg2"></div>
                        </div>
                        <em>自动测试系统</em>
                        <p>无线产品自动化测试革新产品，自主研发，<br>
                        超高效率</p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg3"></div>
                        </div>
                        <em>IoT模块测试</em>
                        <p>针对物联网测试的技术革新</p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg4"></div>
                        </div>
                        <em>高隔离度屏蔽箱定制</em>
                        <p>根据客户产品的需求定制专属屏蔽箱<br></p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg5"></div>
                        </div>
                        <em>测试软件开发</em>
                        <p>无线相关产品的软件开发</p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/aboutt244.html">
                        <div class="pic">
                            <div class="bg bg6"></div>
                        </div>
                        <em>技术咨询和服务</em>
                        <p>销售公司自产产品并提供产品的<br>
技术咨询和服务</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 扎根科技 end -->
    </div>

            <!-- 选择的理由 begin -->
            <div class="choose">
                <div class="wrap">
                    <div class="title">
                        <h3>给自己一个选择嘉多利的理由</h3>
                        <em>our advantage</em>
                    </div>
                    <ul class="choose-list">
                        <li class="c1">
                            <span class="left">01</span>
                            <strong>高效</strong>
                            <p>由每片50秒减少至15秒。大大减少生产效率</p>
                        </li>
                        <li class="c2">
                            <span class="left">02</span>
                            <strong>专业</strong>
                            <p>节省生产时间，大幅减少人工操作量。大大提高生产<br>
        效率。每月可节省RMB3.4万</p>
                        </li>
                        <li class="c3">
                            <span  class="left">03</span>
                            <strong>节约</strong>
                            <p>自动化程度高，人工可减少三分之一</p>
                        </li>
                        <li class="c4">
                            <span  class="left">04</span>
                            <strong>定制</strong>
                            <p>可根据客户需求及产品工艺需求，为您量身定制
        优质服<br>务。真正做到与产品完美结合，符合您的需求。</p>
                        </li>
                        <li class="c5">
                            <span class="right">05</span>
                            <strong class="txt-r">省心</strong>
                            <p class="txt-r">设备操作简单，稳定可靠外加全方位的售后<br>
        服务，真正做到让您省心。</p>
                        </li>
                        <li class="c6">
                            <span class="right">06</span>
                            <strong class="txt-r">省力</strong>
                            <p class="txt-r">拥有经验丰富的团队及多项专利，<br>
        扎根科技，竭力打造最优质的专业设备</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 选择的理由 end -->

            <!-- 历史沿革 begin -->
            <div class="history wrap">
                <div class="com-title">
                    <h3>历史沿革</h3>
                    <em>Historical evolution</em>
                </div>
                <ul class="his-btn">
                    <classify limit='4' id='254' >
                    <li><a>{$classify.title}</a></li>
                    </classify>
                </ul>
                <div class="his-bd">
                    <classify limit='4' id='254' >
                    <php>$noid=$v['ID'];</php>
                    <ul class="his-list">
                        <news limit='8' titlelen='20' id='$noid' >
                        <li>
                            <div class="left">
                                <strong>{$news.time|date='Y',###}</strong>
                                <p>{$news.time|date='m-d',###}</p>
                            </div>
                            <div class="right">
                                <em>{$news.title}</em>
                                <span>{$news.desc}</span>
                            </div>
                        </li>
                       </news>
                    </ul>
                   </classify>
                </div>
                
            </div>
            <!-- 历史沿革 end -->

            <!-- 公司理念 begin-->
            <div class="concept wrap">
                <div class="com-title">
                    <h3>公司理念</h3>
                    <em>Company philosophy</em>
                </div>
                <div class="left detail">
                    <h3>公司愿景</h3>
                    <p>秉持着"专业、品质、诚信、服务"的经营理念作为苏州嘉多利精密电子有限公司强力后盾，研发自信的提升及服务客户的诚信，公司持续经营的目标。</p>
                </div>
                <ul class="left concept-list">
                    <li>
                        <div class="bg bg1"></div>
                        <em>专业</em>
                        <span>majors</span>
                    </li>
                    <li>
                        <div class="bg bg2"></div>
                        <em>品质</em>
                        <span>quality</span>
                    </li>
                    <li>
                        <div class="bg bg3"></div>
                        <em>诚信</em>
                        <span>Good faith</span>
                    </li>
                    <li>
                        <div class="bg bg4"></div>
                        <em>服务</em>
                        <span>service</span>
                    </li>
                </ul>
            </div>
            <!-- 公司理念 end -->

            
            <!-- pc 公司荣誉 begin -->
            <div class="honor pc">
                <div class="wrap">
                    <div class="com-title">
                        <h3>公司荣誉</h3>
                        <em>Company honor</em>
                    </div>
                    <div class="content">
                        <div class="honor-bd">
                            <a class="prev"></a>
                            <a class="next"></a>
                            <ul class="honor-list">
                                <pic id='259' limit='10'>
                                <li><img src="{$pic.src}" ></li>
                                </pic>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pc 公司荣誉 end -->

            <!-- wap 公司荣誉 begin-->
            <div class="honor wap">
                <div class="wrap">
                    <div class="com-title">
                        <h3>公司荣誉</h3>
                        <em>Company honor</em>
                    </div>
                    <div class="jdl_2">
                        <div class="swiper-wrapper">
                            <pic id='259' limit='10'>
                            <div class="swiper-slide">
                                <img src="{$pic.src}" alt="" />
                            </div>
                            </pic>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- wap 公司荣誉 end -->
            
            <script>
		    var swiper = new Swiper('.jdl_2', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 2500,
		        disableOnInteraction: false,
		      },
		    
		    });
		  </script>
</block>