<extend name="Base:body" />

<block name='content'>

<div class="wrap">
        <!--pc 公司简介 begin -->
        <div class="intro pc">
                <div class="box">
                    <div class="list">
                        <ul>
                            <li class="p1"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p2"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p3"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p4"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p5"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p6"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                            <li class="p7"><a href="#"><img src="{:C('TMURL')}/images/banner/02.jpg" alt="" /></a></li>
                        </ul>
                    </div>
                    
                    <a href="javascript:;" class="prev btn"><</a>
                    <a href="javascript:;" class="next btn">></a>

                    <div class="buttons">
                        <a href="javascript:;"><span class="blue"></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                        <a href="javascript:;"><span></span></a>
                    </div>
                </div>
                <p>{$content.Content}</p>
        </div>
        <!--pc 公司简介 end -->


        <!-- wap 公司简介 begin -->
        <div class="intro wap">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{:C('TMURL')}/images/banner/02.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{:C('TMURL')}/images/banner/02.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{:C('TMURL')}/images/banner/02.jpg" alt="" />
                        </div>
                        <div class="swiper-slide">
                            <img src="{:C('TMURL')}/images/banner/02.jpg" alt="" />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <p>{$content.Content}</p>
        </div>
        <!-- wap 公司简介 end -->

        <!-- 扎根科技 begin -->
        <div class="tech">
            <div class="title">
                <h3>10-year focus on wireless test, <br>dedicated to building professional quality</h3>
                <p class="pc">Professional wireless test equipments and shielding box manufacture, possessing experienced team and plenty of patents, no matter engineering or manufacturing, Charter Leader Electronics always remain the strongest competitive advantage and flexibility</p>
                <p class="wap">Professional wireless test equipments and shielding box manufacture, possessing experienced team and plenty of patents, no matter engineering or manufacturing, Charter Leader Electronics always remain the strongest competitive advantage and flexibility</p>
            </div>
            <ul class="tech-list">
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg1"></div>
                        </div>
                        <em>Wireless test solution</em>
                        <p>Developing efficient wireless test solution<br></p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg2"></div>
                        </div>
                        <em>automatic test solution</em>
                        <p>Automatic wireless test products, self-developed with fast efficiency</p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg3"></div>
                        </div>
                        <em>IoT Module Test</em>
                        <p>Technical renovation of IoT test</p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg4"></div>
                        </div>
                        <em>Customization of shielding boxes</em>
                        <p>Customizing your own shielding boxes satisfying all your need<br></p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/product301.html">
                        <div class="pic">
                            <div class="bg bg5"></div>
                        </div>
                        <em>Test Software Development</em>
                        <p>Developing test software of wireless related products</p>
                    </a>
                </li>
                <li>
                    <a href="__ROOT__/aboutt244.html">
                        <div class="pic">
                            <div class="bg bg6"></div>
                        </div>
                        <em>Technical consulting and services</em>
                        <p>In addition to selling products, we also provide consulting services</p>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 扎根科技 end -->
    </div>

            <!-- 选择的理由 begin -->
            <div class="choose">
                <div class="wrap">
                    <div class="title">
                        <h3>Give yourself a reason to choose Charter Leader</h3>
                        <em>our advantage</em>
                    </div>
                    <ul class="choose-list">
                        <li class="c1">
                            <span class="left">01</span>
                            <strong>Efficient</strong>
                            <p>Reducing test time from 50 sec per chip to 15 sec, tremendous elevation of production efficiency</p>
                        </li>
                        <li class="c2">
                            <span class="left">02</span>
                            <strong>Profession</strong>
                            <p>Saving production time and operators, which means significant reduction of cost</p>
                        </li>
                        <li class="c3">
                            <span  class="left">03</span>
                            <strong>Thrift</strong>
                            <p>Automation, saving manpowers</p>
                        </li>
                        <li class="c4">
                            <span  class="left">04</span>
                            <strong>Customization</strong>
                            <p>Our customizing ability enable our products fitting customers’ need perfectly</p>
                        </li>
                        <li class="c5">
                            <span class="right">05</span>
                            <strong class="txt-r">Easy</strong>
                            <p class="txt-r">Good user experiences combined with all-directional after-sales services, we put our customers’ mind at ease</p>
                        </li>
                        <li class="c6">
                            <span class="right">06</span>
                            <strong class="txt-r">Saving power</strong>
                            <p class="txt-r">Possessing plenty of patents and experienced team, we wre dedicated to developing professional equipments</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 选择的理由 end -->

            <!-- 历史沿革 begin -->
            <div class="history wrap">
                <div class="com-title">
                    <h3>历史沿革</h3>
                    <em>Historical evolution</em>
                </div>
                <ul class="his-btn">
                    <classify limit='4' id='254' >
                    <li><a>{$classify.title}</a></li>
                    </classify>
                </ul>
                <div class="his-bd">
                    <classify limit='4' id='254' >
                    <php>$noid=$v['ID'];</php>
                    <ul class="his-list">
                        <news limit='4' titlelen='20' id='$noid' >
                        <li>
                            <div class="left">
                                <strong>{$news.time|date='Y',###}</strong>
                                <p>{$news.time|date='m-d',###}</p>
                            </div>
                            <div class="right">
                                <em>{$news.title}</em>
                                <span>{$news.desc}</span>
                            </div>
                        </li>
                       </news>
                    </ul>
                   </classify>
                </div>
                
            </div>
            <!-- 历史沿革 end -->

            <!-- 公司理念 begin-->
            <div class="concept wrap">
                <div class="com-title">
                    <h3>公司理念</h3>
                    <em>Company philosophy</em>
                </div>
                <div class="left detail">
                    <h3>Our Vision</h3>
                    <p>Upholding the management philosophy of profession, quality, integrity and service, earning customer’s trust is our primary goal</p>
                </div>
                <ul class="left concept-list">
                    <li>
                        <div class="bg bg1"></div>
                        <em>专业</em>
                        <span>majors</span>
                    </li>
                    <li>
                        <div class="bg bg2"></div>
                        <em>品质</em>
                        <span>quality</span>
                    </li>
                    <li>
                        <div class="bg bg3"></div>
                        <em>诚信</em>
                        <span>Good faith</span>
                    </li>
                    <li>
                        <div class="bg bg4"></div>
                        <em>服务</em>
                        <span>service</span>
                    </li>
                </ul>
            </div>
            <!-- 公司理念 end -->

            
            <!-- pc 公司荣誉 begin -->
            <div class="honor pc">
                <div class="wrap">
                    <div class="com-title">
                        <h3>公司荣誉</h3>
                        <em>Company honor</em>
                    </div>
                    <div class="content">
                        <div class="honor-bd">
                            <a class="prev"></a>
                            <a class="next"></a>
                            <ul class="honor-list">
                                <pic id='283' limit='10'>
                                <li><img src="{$pic.src}" ></li>
                                </pic>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- pc 公司荣誉 end -->

            <!-- wap 公司荣誉 begin-->
            <div class="honor wap">
                <div class="wrap">
                    <div class="com-title">
                        <h3>公司荣誉</h3>
                        <em>Company honor</em>
                    </div>
                    <div class="jdl_2">
                        <div class="swiper-wrapper">
                            <pic id='283' limit='10'>
                            <div class="swiper-slide">
                                <img src="{$pic.src}" alt="" />
                            </div>
                            </pic>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- wap 公司荣誉 end -->
            
            <script>
		    var swiper = new Swiper('.jdl_2', {
		      spaceBetween: 30,
		      centeredSlides: true,
		      autoplay: {
		        delay: 2500,
		        disableOnInteraction: false,
		      },
		    
		    });
		  </script>
</block>