<extend name="Base:body" />


<block name='content'>








<div class="wrap">
      <script src="{:C('TMURL')}/js/jquery.jqzoom.js"></script>
      <script src="{:C('TMURL')}/js/base.js"></script>
      <link rel="stylesheet" type="text/css" href="{:C('TMURL')}/css/base.css">
      <div class="xq-detail">
          <div class="content">
            
            <!-- pc 放大镜效果 begin -->
            <div class="pro-list-pic pc">
              <div id="preview" class="spec-preview"> <span class="jqzoom"><img jqimg="__ROOT__/Upload{$content.fm}"  src="__ROOT__/Upload{$content.fm}"  style='max-width:auto;'/></span> </div>
              <!--缩图开始-->
              <div class="spec-scroll">
                <div class="items">
                <ul>
                  <foreach name='content.Thumbnail' item='thumb'>
				      	<li>
				      	<img bimg="__ROOT__/Upload{$thumb}" src="__ROOT__/Upload{$thumb}" onmousemove="preview(this);">
				      	</li>
				      </foreach>
                  <div class="cl"></div>
                </ul>
                </div>
              </div>
              <!--缩图jieshu-->
            </div>
            <!-- pc 放大镜效果 end -->

            <!-- wap 产品图片展示 begin -->
            <div class="swiper-container wap">
                    <div class="swiper-wrapper">
                       <foreach name='content.Thumbnail' item='thumb'>
                        <div class="swiper-slide">
                            <img src="__ROOT__/Upload{$thumb}" alt="" />
                        </div>
                        </foreach>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            <!-- wap 产品图片展示 end -->

            <div class="text">
              <h2>{$content.Title}</h2>
              <p>{$content.Keyword}</p>
              <dl>
                {$content.Description}
              </dl>

              <div class="tel">
                <p>邮箱：<span>{$email}</span></p>
              </div>
            </div>

            <div class="clear"></div>

            <!-- 产品详情介绍 begin -->
            <div class="xq-content">
              <div class="title">
                <ul>
                  <li><a href="#td">Product features</a></li>
                  <li><a href="#cs">Product parameters</a></li>
                  <li><a href="#al">The case shows</a></li>
                  <li><a href="#rel">Series of products</a></li>
                </ul>
              </div>
              <div class="contain #xq">
                <div id="td"><p class="biaoti">Product features</p>{$content.Content}</div>
                <div id="cs"><p class="biaoti">Product parameters</p>{$content.tedian}</div>
                <div id="al"><p class="biaoti">The case shows</p>{$content.shuoming}</div>
                <div id="rel">
                  <p class="biaoti"></p>
                  <ul class="ny-prolist rel-product">
                  <php>$noid=$_GET['cid'];$nooid=$_GET['id'];</php>
					<product limit='3' titlelen='18' id='$noid' where='id != $nooid'>
                                  <li>
                                      <div class="pic">
                                          <a href="{$product.link}"><img src="{$product.src}" height="182" width="230" alt="{$product.title}" title="{$product.title}"></a>
                                      </div>
                                      <a href="{$product.link}" class="name">{$product.title}</a>
                                  </li>
                                 </product>
                              </ul>
                </div>
              </div>
            </div>
            <!-- 产品详情介绍 end -->

        </div>
      </div>

    </div>
</block>