<include file="Common/head"/>

<div class="clear"></div>

<!--pc 精品推荐 begin-->
<div class="product-recommend pc">
	
    <!--图片 -->
    <div class="bd wrap">
    	<ul>
        	<product limit='20' titlelen='18' id='240'>
            <li>
                <a href="{$product.link}" title="{$product.title}">
                       <span class="pic">
                           <p><img src="{$product.src}"  alt="{$product.title}" title="{$product.title}" /></p>
                       </span>
                       <span class="text">
                           {$product.title}
                       </span>
                </a>
            </li>
            </product>
        </ul>
    </div>
    <!--图片 -->
    
</div>
<!--pc 精品推荐 end-->

<!--wap 精品推荐 begin-->
<div class="product-recommend wap" style="overflow: hidden;">
	<div class="jdl_1" style="overflow: hidden;">
        <div class="swiper-wrapper">
           <product limit='20' titlelen='18' id='240'>
            <div class="swiper-slide">
                <a href="{$product.link}" title="{$product.title}">
                    <div class="box">
                        <span class="pic">
                            <p><img src="{$product.src}" title="{$product.title}" alt="{$product.title}" /></p>
                        </span>
                        <span class="text">
                           {$product.title}
                        </span>
                    </div>
                </a>
            </div>
            </product>
        </div>
      
    </div>
</div>
<!--wap 精品推荐 end-->
<script>
    var swiper = new Swiper('.jdl_1', {
      loop:true,
      slidesPerView:3,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
       autoplay: {
	        delay: 2500,
	        disableOnInteraction: false,
	      },
     
    });
  </script>
<div class="clear"></div>
<!-- pc 测试方案 begin -->
<div class="test pc">
    <div class="wrap">
        <!-- 标题 begin -->
        <div class="title">
            <a href="__ROOT__/product239.html"><h2>嘉多利测试方案</h2></a>
        </div>
        <!-- 标题 end -->

        <!-- 内容 begin-->
        <div class="test-center">
            <div class="bd">
                <a class="prev"></a>
                <a class="next"></a>
                <ul>
                   <product limit='20' titlelen='18' id='239' keywordlen='50'>
                    <li>
                        <a href="{$product.link}" title="{$product.title}">
                            <div class="pic">
                                <img src="{$product.src}" title="{$product.title}" alt="{$product.title}">
                            </div>
                            <div class="detail">
                                <em>{$product.title}</em>
                                <p>{$product.keyword}</p>
                            </div>
                        </a>
                    </li>
                    </product>
                </ul>
            </div>
        </div>
        <!-- 内容 end -->
    </div>
</div>
<!-- pc 测试方案 end -->
<!--wap 测试方案 begin -->
<div class="test wap">
    <!--标题 -->
    <div class="title">
        <div class="box">
            <h2>嘉多利测试方案</h2>
            <p>Charter Leader Test Plan</p>
        </div>
    </div>
    <!--标题 -->
    <div class="jdl_2" style="margin-bottom:30px; overflow: hidden;">
        <div class="swiper-wrapper">
            <product limit='20' titlelen='18' id='239'>
            <div class="swiper-slide">
                <div class="box">
                    <span class="pic">
                        <a href="{$product.link}">
                        <div class="more">
                            <em></em>
                        </div>
                        <img src="{$product.src}" />
                        </a>
                    </span>
                    <span class="text">
                        <a href="{$product.link}">{$product.title}</a>
                    </span>
                </div>
            </div>
             </product>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <script>
    var swiper = new Swiper('.jdl_2', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay:1,
        disableOnInteraction: false,
      },
     
    });
  </script>
</div>



<!--wap 测试方案 end -->


<!--产品中心 begin-->
<div class="product">
    <div class="wrap">
        <!-- 标题 begin -->
        <div class="title">
            <h2>产品中心</h2>
            <p style="font-size:12px;text-transform:uppercase;font-family:arial;">product center</p>
        </div>
        <!-- 标题 end -->

        <!-- 产品分类列表 begin -->
        <ul class="proclass-list">
        <cname id='302' desclen='100'>
            <li>
              <div class="detail">
                    <h3><a href="">{$cname.name}<em>{$cname.remark}</em></a></h3>
                    <dl>
                         <dd>RF芯片的<em>Calibration、TX</em>等测试项</dd>
                         <dd>搭配治具可<em>测试PCI-e,USB,SDIO接口</em>的模块或网卡</dd>
                         <dd>能搭配<em>多种无线测量仪表</em>使用，Blue Tooth和GPS测试</dd>
                         <dd>无线网络AP/模块产品1对4自动化测试，支持<em>802.11a/b/g/n/ac’2.4G</em>测试规范</dd>
                         <dd>具备<em>以太网供连接待测，量测仪表和测试计算机，</em>具备串口供连接待测或控制屏蔽箱开合</dd>
                        
                        

                    </dl>
                    <ul class="sence">
                        <p>产品展示：</p>
                        <li><img src="{:C('TMURL')}/images/scene1.png"></li>
                        <li><img src="{:C('TMURL')}/images/scene2.png"></li>
                    </ul>
                </div>
                <a href="__ROOT__/product302.html" class="pic"  title="{$cname.name}"><img src="{$cname.src}" alt="{$cname.name}" title="{$cname.name}"></a>
              
            </li>
            </cname>
             <cname id='301' desclen='100'>
            <li>
             <div class="detail">
                    <h3><a href="">{$cname.name}<em>{$cname.remark}</em></a></h3>
                    <p>专业定制各种规格的高隔离度隔离箱，满足客户现场使用环境以及测试要求，铝合金材质使用寿命长</p>
                    <dl>
                        <dd>类型：<em>手动，气动以及配合自动化使用</em>的隔离箱</dd>
                        <dd>隔离特性：<em>2.4GHz > -85dB   5.8GHz > -80dB</em></dd>
                        <dd>滤波器端口：<em>AC,DC,RJ45,USB2.0 ,USB3.0 HDMI,RS232</em>等</dd>
                    </dl>
                    <ul class="sence">
                        <p>产品展示：</p>
                        <li><img src="{:C('TMURL')}/images/scene3.png"></li>
                        <li><img src="{:C('TMURL')}/images/scene4.png"></li>
                        <li><img src="{:C('TMURL')}/images/scene5.png"></li>
                        <li><img src="{:C('TMURL')}/images/scene6.png"></li>
                    </ul>
                </div>
                <a href="__ROOT__/product301.html" class="pic"  title="{$cname.name}"><img src="{$cname.src}" alt="{$cname.name}" title="{$cname.name}"></a>
               
            </li>
            </cname>
            <cname id='303' desclen='100'>
            <li>
            <div class="detail">
                    <h3><a href="">{$cname.name}<em>{$cname.remark}</em></a></h3>
                    <p>隔离隔音箱采用金属屏蔽结合吸波材吸收原理，满足客户现场使用环境以及测试要求，铝合金材质使用寿命长</p>
                    <dl>
                        <dd>电磁屏蔽效能：<em>≥-70 dB</em>  声音屏蔽效能：<em>≥-40 dB</em></dd>
                        <dd>接口： <em>RS-232C*1  USB*1 DC*2  BNC*1  卡农接口*1</em></dd>
                        <dd>输入气压：<em>5 - 10 Pa</em></dd>
                    </dl>
                    <ul class="sence">
                        <p>产品展示：</p>
                        <li><img src="{:C('TMURL')}/images/scene7.png"></li>
                        <li><img src="{:C('TMURL')}/images/scene8.png"></li>
                    </ul>
                </div>
                <a href="__ROOT__/product303.html" class="pic"  title="{$cname.name}"><img src="{$cname.src}" alt="{$cname.name}" title="{$cname.name}"></a>
                
            </li>
            </cname>
            <cname id='250' desclen='100'>
            <li>
             <div class="detail">
                    <h3><a href="">{$cname.name}<em>{$cname.remark}</em></a></h3>
                    <p>可以定制各种射频测试与功能测试治具，亦可搭配我司隔离箱实现高精度的测试，提升测试良率和效率</p>
                    <dl>
                        <dd>适用产品：<em>手机，路由器，遥控器，WIFI模块</em>等各种电子产品</dd>
                    </dl>
                    <ul class="sence">
                        <p>产品展示：</p>
                        <li><img src="{:C('TMURL')}/images/scene9.png"></li>
                        <li><img src="{:C('TMURL')}/images/scene10.png"></li>
                        <li><img src="{:C('TMURL')}/images/scene11.png"></li>
                        <li><img src="{:C('TMURL')}/images/scene12.png"></li>
                    </ul>
                </div>
                <a href="__ROOT__/product250.html" class="pic"  title="{$cname.name}"><img src="{$cname.src}" alt="{$cname.name}" title="{$cname.name}"></a>
               
            </li>
            </cname>
        </ul>
        <!-- 产品分类列表 end -->

        <ul class="button">
            <li><a href="__ROOT__/productt240.html">更多产品 +</a></li>
            <li><a href="__ROOT__/aboutt244.html">在线订购 +</a></li>
        </ul>

    </div>
</div>
<!--产品中心 end-->

<div class="clear"></div>

<!--pc 质赢天下 begin -->
<div class="ad pc">
    <div class="wrap">
    
    <div class="angle"></div>
    <!--标题 -->
    <div class="title">
    	<div class="box">
            <h2>"质"赢天下</h2>
            <p>QUALITY WINS THE WORLD</p>
        </div>
    </div>
    <!--标题 -->
    
    <!--内容 -->
    <div class="box bd">
        <ul class="ad-list">
            <li>
                <div class="left">
                    <h3>实力 • 雄厚</h3>
                    <em>十年专注无线测试</em>
                    <p>嘉多利精密电子有限公司专注无线测试领域十多年，产品涉及IoT物联网测试方案、自动化测试方案、1对多量产测试方案、高隔离度隔离箱、无线测试设备、治夹具等广泛领域。凭借前瞻决 策、扎根科技和专业制造，嘉多利集团不断创新、发展壮大，时刻保持着最强势的市场竞争力，助力2025中国制造！</p>
                </div>
                <img src="{:C('TMURL')}/images/ad1.png" alt="" title="">
            </li>
            <li>
                <div class="left">
                     <h3>实力 • 雄厚</h3>
                    <em>十年专注无线测试</em>
                    <p>嘉多利精密电子有限公司专注无线测试领域十多年，产品涉及IoT物联网测试方案、自动化测试方案、1对多量产测试方案、高隔离度隔离箱、无线测试设备、治夹具等广泛领域。凭借前瞻决 策、扎根科技和专业制造，嘉多利集团不断创新、发展壮大，时刻保持着最强势的市场竞争力，助力2025中国制造！</p>
                </div>
                <img src="{:C('TMURL')}/images/ad1.png" alt="" title="">
            </li>
            <li>
                <div class="left">
                     <h3>实力 • 雄厚</h3>
                    <em>十年专注无线测试</em>
                    <p>嘉多利精密电子有限公司专注无线测试领域十多年，产品涉及IoT物联网测试方案、自动化测试方案、1对多量产测试方案、高隔离度隔离箱、无线测试设备、治夹具等广泛领域。凭借前瞻决 策、扎根科技和专业制造，嘉多利集团不断创新、发展壮大，时刻保持着最强势的市场竞争力，助力2025中国制造！</p>
                </div>
                <img src="{:C('TMURL')}/images/ad1.png" alt="" title="">
            </li>
            <li>
                <div class="left">
                     <h3>实力 • 雄厚</h3>
                    <em>十年专注无线测试</em>
                    <p>嘉多利精密电子有限公司专注无线测试领域十多年，产品涉及IoT物联网测试方案、自动化测试方案、1对多量产测试方案、高隔离度隔离箱、无线测试设备、治夹具等广泛领域。凭借前瞻决 策、扎根科技和专业制造，嘉多利集团不断创新、发展壮大，时刻保持着最强势的市场竞争力，助力2025中国制造！</p>
                </div>
                <img src="{:C('TMURL')}/images/ad1.png" alt="" title="">
            </li>
        </ul>
    </div>
    <div class="hd">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <a href="__ROOT__/aboutt244.html">立即咨询 +</a>
    <!--内容 -->
    </div>  
</div>
<!--pc 质赢天下 end -->


<!--wap 质赢天下 begin -->
<div class="ad wap">
    <div class="swiper-container">
    <!--标题 -->
    <div class="title">
        <div class="box">
            <h2>"质"赢天下</h2>
            <p>QUALITY WINS THE WORLD</p>
        </div>
    </div>
    <!--标题 -->
    
    <!--内容 -->
    <div class="ad-center">
        <ul class="ad-list">
            <li>
                <span>One<i></i></span>
                <div class="left">
                    <img src="{:C('TMURL')}/images/ad1.png" alt="" title="">
                    <h3>实力 • 雄厚</h3>
                    <em>十年专注无线测试</em>
                    <p>嘉多利精密电子有限公司专注无线测试领域十多年，产品涉及IoT物联网测试方案、自动化测试方案、1对多量产测试方案、高隔离度隔离箱、无线测试设备、治夹具等广泛领域。凭借前瞻决 策、扎根科技和专业制造，嘉多利集团不断不断创新、发展壮大，时刻保持着最强势的市场竞争力，助力2025中国制造！</p>
                </div>
            </li>



        </ul>
    </div>
 
    <!--内容 -->
    </div>  
</div>
<!--wap 质赢天下 end -->

<div class="clear"></div>



<div class="clear"></div>

<!--全国热线 -->
<div class="hot-tel wap">
	<div class="wrap">
    	<span class="text">
        	全国服务热线电话 <em>{$tel}</em>
        </span>
        <span class="btn">
        	<a href="__ROOT__/aboutt244.html">立即咨询</a>
        </span>
    </div>
</div>
<!--全国热线 -->

<div class="clear"></div>

<!-- pc 新闻中心 begin -->
<div class="news pc">
    <div class="wrap">
        <!--标题 -->
        <div class="title">
            <h2>新闻中心</h2>
            <p>News Center</p>
        </div>
        <!--标题 -->

        <!-- 内容 begin -->
        <div class="news-center">
            <div class="left">
            <news limit='1' titlelen='50' desclen='60' id='261'>
                <a href="{$news.link}" title="{$news.title}">
                    <img src="{$news.src}" alt="{$news.title}">
                    <em>{$news.title}</em>
                    <p>{$news.desc}</p>
                </a>
                </news>
            </div>
            
            <div class="right">
            <div class="hd">
                    <a class="prev"></a>
                    <ul></ul>
                    <a class="next"></a>
                </div>
            <div class="bd">
                <div class="ulWrap">
                
                    <ul class="news-list">
                       <news limit='0,2' titlelen='50' desclen='80' id='260'> 
                        <li>
                            <a href="{$news.link}" title="{$news.title}">
                                <img src="{$news.src}" alt="{$news.title}" title="{$news.title}" class="left" height="174" width="263">
                                <div class="detail right">
                                    <strong>{$news.title}</strong>
                                    <span>发布日期：{$news.time|date='Y-m-d',###}</span>
                                    <p>{$news.desc}</p>
                                </div>
                            </a>
                        </li>
                        </news>
                    </ul>
                    <ul class="news-list">
                       <news limit='2,2' titlelen='50' desclen='100' id='260'> 
                        <li>
                            <a href="{$news.link}" title="{$news.title}">
                                <img src="{$news.src}" alt="{$news.title}" title="{$news.title}" class="left" height="174" width="263">
                                <div class="detail right">
                                    <strong>{$news.title}</strong>
                                    <span>发布日期：{$news.time|date='Y-m-d',###}</span>
                                    <p>{$news.desc}</p>
                                </div>
                            </a>
                        </li>
                        </news>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <!-- 内容 end -->
    </div>
</div>
<!-- pc 新闻中心 end -->

<!-- wap 新闻中心 begin -->
<div class="news-center wap">
	<div class="wrap">
    	
        <!--标题 -->
        <div class="title">
            <h2>新闻中心</h2>
        	<p>News Center</p>
            
            <ul>
                <li><a href="__ROOT__/article260.html">业内新闻</a></li>
                <li><a href="__ROOT__/article261.html">公司动态</a></li>
            </ul>
        </div>
        <!--标题 -->
        
        <!--列表 -->
        <div class="list">
        	<ul>
            	<news limit='4' titlelen='50' desclen='100' id='242'> 
                
                <li>
                	<span class="pic">
                    	<a href="{$news.link}"><img src="{$news.src}" /></a>
                    </span>
                    <span class="text">
                    	<h3><a href="{$news.link}">{$news.title}</a></h3>
                        <p>{$news.desc}</p>
                        <em>{$news.time|date='Y-m-d',###}</em>
                    </span>
                </li>
                
                 </news>
            </ul>
        </div>
        <!--列表 -->
        
    </div>
</div>
<!-- wap 新闻中心 end -->

<div class="clear"></div>


<include file="Common/footer"/>