<include file="Common/head"/>
<script type="text/javascript" src="{y!:C('HTStyle')}/js/jquery.SuperSlide.2.1.1.js"></script>
<div class="main">
	<include file="Common/left"/>
	<div class="main_right">
	<div class="title"><span class="add"></span><strong>客服QQ设置</strong></div>
		<div class="mrclass">		
			<div class="mrlist">
				<form action="{y!:U('System/add_qq_form')}" method="post">
				<div class="mrlist">
					<ul>
						<li>
							<span class="mrtitle fl">标题：</span>
							<input type="text" name="title" value="{y!$qq.title}" class='mrinput' style="width:250px" >
							&nbsp;&nbsp;&nbsp;&nbsp;首页显示&nbsp;&nbsp;
							<input type="checkbox" <if condition="$qq['is_index'] eq 1"> checked="checked" </if> value="1" name='is_index'/>
						</li>
						<li>
							<span class="mrtitle fl">链接地址：</span>
							<input type="text" name="qqurl" value="{y!$qq.qqurl}" class='mrinput' style="width:250px">
						</li>
						<li>
							<span class="mrtitle fl">QQ号1：</span>
							<input type="text" name="qq[]" class='mrinput' value="{y!$qq['qq'][0]}" style="width:250px" >
							&nbsp;&nbsp;&nbsp;&nbsp;显示名称：&nbsp;&nbsp;
							<input type="text" name="qqtitle[]" class='mrinput' value="{y!$qq['qqtitle'][0]}" style="width:250px" >
						</li>
						<li>
							<span class="mrtitle fl">QQ号2：</span>
							<input type="text" name="qq[]" class='mrinput' value="{y!$qq['qq'][1]}" style="width:250px" >
							&nbsp;&nbsp;&nbsp;&nbsp;显示名称：&nbsp;&nbsp;
							<input type="text" name="qqtitle[]" class='mrinput' value="{y!$qq['qqtitle'][1]}" style="width:250px" >
						</li>
						<li>
							<span class="mrtitle fl">QQ号3：</span>
							<input type="text" name="qq[]" class='mrinput' value="{y!$qq['qq'][2]}" style="width:250px" >
							&nbsp;&nbsp;&nbsp;&nbsp;显示名称：&nbsp;&nbsp;
							<input type="text" name="qqtitle[]" class='mrinput' value="{y!$qq['qqtitle'][2]}" style="width:250px" >
						</li>
						<li>
							<span class="mrtitle fl">QQ号4：</span>
							<input type="text" name="qq[]" class='mrinput' value="{y!$qq['qq'][3]}" style="width:250px" >
							&nbsp;&nbsp;&nbsp;&nbsp;显示名称：&nbsp;&nbsp;
							<input type="text" name="qqtitle[]" class='mrinput' value="{y!$qq['qqtitle'][3]}" style="width:250px" >
						</li>
						<li>
							<span class="mrtitle fl">QQ号5：</span>
							<input type="text" name="qq[]" class='mrinput' value="{y!$qq['qq'][4]}" style="width:250px" >
							&nbsp;&nbsp;&nbsp;&nbsp;显示名称：&nbsp;&nbsp;
							<input type="text" name="qqtitle[]" class='mrinput' value="{y!$qq['qqtitle'][4]}" style="width:250px" >
						</li>
						<li>
							<span class="mrtitle fl">咨询热线1：</span>
							<input type="text" name="qqtel[]" class='mrinput' value="{y!$qq['qqtel'][0]}" style="width:250px">
						</li>
						<li>
							<span class="mrtitle fl">咨询热线2：</span>
							<input type="text" name="qqtel[]" class='mrinput'  value="{y!$qq['qqtel'][1]}" style="width:250px">
						</li>
						<li>
							<span class="mrtitle fl">咨询热线3：</span>
							<input type="text" name="qqtel[]" class='mrinput'  value="{y!$qq['qqtel'][2]}" style="width:250px">
						</li>
						<li>
							<span class="mrtitle fl">显示方式：</span>
							展开
							<input type="radio" name="display" value="block" <if condition="$qq['display'] eq block"> checked="checked" </if> />
							&nbsp;&nbsp;收缩
							<input type="radio" name="display" value="none" <if condition="$qq['display'] eq none"> checked="checked" </if>/>
						</li>
						<li>
							<span class="mrtitle fl">位置：</span>
							左
							<input type="radio" name="position" value="left" <if condition="$qq['position'] eq left"> checked="checked" </if> />
							&nbsp;&nbsp;右
							<input type="radio" name="position" value="right" <if condition="$qq['position'] eq right"> checked="checked" </if>/>
						</li>
						<li>
							<span class="mrtitle fl">距离：</span>
							顶部&nbsp;&nbsp;
							<input type="text" name="Distance" value="{y!$qq.Distance}" />&nbsp;px
						</li>
						
					</ul>
				</div>
				<input type="submit" class="but fl" value="提交" >
				<a href="{y!:U('slide')}" class="ret ml10">返回</a>
			</form>
			</div>
		</div>		
	</div>
	<div class="cl"></div>
</div>
<include file="Common/foot"/>
</body>
</html>