<include file="Common/head"/>
	<script type="text/javascript">
			window.UEDITOR_HOME_URL="__ROOT__/Site/Common/Plug/Ueditor/";
			window.onload=function(){
				UE.getEditor('ueditor');
				UE.getEditor('tedian');
				UE.getEditor('shuoming');
			}
	</script>
	<script type="text/javascript" src="__ROOT__/Site/Common/Plug/Ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__ROOT__/Site/Common/Plug/Ueditor/ueditor.all.js"></script>
	<!-- 图片预览 -->
	<include file="Common/pic_js"/>
<div class="main">
	<include file="Common/left"/>
	<div class="main_right">
		<div class="title"><span class="add"></span><strong>修改产品</strong></div>
		<div class="mrclass jz">
			<form action="{y!:U('update_product_form')}" method="post" id="yzform" enctype="multipart/form-data">
			<div class="mrlist">
				<ul>
					<li>
						<span class="mrtitle fl">产品标题：</span>
						<input type="text" name='title' class='mrinput' value="{y!$up_art.Title}" />
					</li>
					<li>
						<span class="mrtitle fl">所属栏目：</span>
						<input type="hidden" name="artid" value="{y!$up_art.aid}">
						<select name="classid" class="mrselect">
							<volist name="class" id='vo'>
								<option value="{y!$vo.ID}" <if condition="$vo.ID eq $up_art['cid']"> selected="selected" </if>>&nbsp;{y!$vo.html}{y!$vo.Name}</option>
							</volist>
						</select>
						&nbsp;&nbsp;&nbsp;&nbsp;首页显示
						<input type="checkbox" value="1" name='is_index' <if condition="$up_art['is_index'] eq 1"> checked </if> />
					</li>

					<!-- 自定义属性 -->
					<foreach name="bltype" item="vo">
						<if condition='$vo["type"] eq textarea'>
							<li>
								<input type="hidden" name="class_type[id][]" value="{y!$vo.id}">
								<input type="hidden" name="class_type[key][{y!$vo.id}]" value="{y!$vo.name}" >
								<input type="hidden" name="class_type[remark][{y!$vo.id}]" value="{y!$vo.remark}" >
								<span class="mrtitle fl" style="text-decoration:underline;">{y!$vo.name}:</span>
								<{y!$vo.type} name="class_type[value][{y!$vo.id}]" style='width:300px'><foreach name="type_list" item="list"><if condition="$list.typeid eq $vo.id ">{y!$type_list.$key.typevalue}</if></foreach>
								</{y!$vo.type}> 
							</li>
						<else/>
							<li>
								<input type="hidden" name="class_type[id][]" value="{y!$vo.id}">
								<input type="hidden" name="class_type[key][{y!$vo.id}]" value="{y!$vo.name}" >
								<input type="hidden" name="class_type[remark][{y!$vo.id}]" value="{y!$vo.remark}" >
								<span class="mrtitle fl"><span style="text-decoration:underline;">{y!$vo.name}:</span></span>
								<input name="class_type[value][{y!$vo.id}]" type="{y!$vo.type}" 
									<foreach name="type_list" item="list">
										<if condition="$list.typeid eq $vo.id ">value="{y!$list.typevalue}" <if condition='$list.typevalue eq 1'>checked</if></if> 
									</foreach> 
									<if condition="$vo['type'] eq text" > class='mrinput' </if>>
							</li>
						</if>
					</foreach>
					
					<li>
						<span class="mrtitle fl">缩略图：</span>
<div class="uploader">
	<div id="uploader">
		<div id="filePicker">点击上传图片</div>
	    <div id="fileList" class="uploader-list">
			<foreach name="Thumbnail_list" item="tlist">
				<notempty name="tlist">
					<div class="tlist fl">
						<img src="__ROOT__/Upload{y!$tlist}" width="120" height="100">
						<input type="hidden" name="filepath[]" value="{y!$tlist}">
					</div>
				</notempty>
			</foreach>
	    </div>
	</div>	
</div>

<script type="text/javascript">	
   // 添加全局站点信息
    var tlist=$(".tlist").find("img").length
    CanPicnum=PICNUM-tlist;
    if(CanPicnum==0){
    	CanPicnum=-1;
    }
    //删除图片的路径
    var PRO_DEL_PIC="{y!:U('Product/del_pic')}";
    //产品ID
    var PID="{y!$_GET['aid']}";
</script>
<script type="text/javascript" src="{y!:C('HTStyle')}/webuploader/upcon.js"></script>					
	
					</li>
					<li>
						<span class="mrtitle fl">封面图片：</span>
						<input type="text" class="mrinput-default" value="{y!$up_art['Cover']+1}"  name='Cover'/>
						 ( 选择缩略图的序号为封面 )
					</li>
					<li>
						<span class="mrtitle fl">排序：</span>
						<input type="text" name="Sort" class="mrinput" value="{y!$up_art.Sort}">
					</li>
					
					<li>
						<span class="mrtitle fl">点击次数：</span>
						<input type="text" name='click' class='mrinput' value="{y!$up_art.click}" />
					</li>

					<li>
						<span class="mrtitle fl">关键词：</span>
						
                        <textarea name='keyword' class="mrtext">{y!$up_art.Keyword}</textarea>
					</li>
					<li>
						<span class="mrtitle fl">简单描述：</span>
						<textarea name='description' class="mrtext">{y!$up_art.Description}</textarea>
					</li>
					<li>
						<span class="mrtitle fl">产品特点：</span>
						<div class="mrcontent fl">
						<textarea name="content" id='ueditor'>{y!$up_art.Content}</textarea>
						</div>
						<div class="cl"></div>
					</li>
                    <li>
						<span class="mrtitle fl">产品参数：</span>
						<div class="mrcontent fl">
						<textarea name="tedian" id='tedian'>{y!$up_art.tedian}</textarea>
						</div>
						<div class="cl"></div>
					</li>
                    <li>
						<span class="mrtitle fl">施工案例：</span>
						<div class="mrcontent fl">
						<textarea name="shuoming" id='shuoming'>{y!$up_art.shuoming}</textarea>
						</div>
						<div class="cl"></div>
					</li>
				</ul>
			</div>
			<input type="hidden" name="ysclassid" value="{y!$_GET['classid']}">
			<input type="hidden" name="p" value="{y!$_GET['p']}">
				<div class="fixed_submit">
					<input type="submit" name="dosubmit" class="fixed_submit_sub" value="修改" />
					<a href="#" class="ret" OnClick='history.back();'>返回</a>
				</div>
				<input type="submit" name="dosubmit" class="but" value="修改" />
				<a href="#" class="ret" OnClick='history.back();'>返回</a>
			</form>
		</div>
	</div>
	<div class="cl"></div>	
</div>
<include file="Common/foot"/>
</body>
</html>