<include file="Common/head"/>
<div class="main">
	<include file="Common/left"/>
	<div class="main_right">
	<div class="title"><span></span><strong>模型列表</strong><a href="{y!:U('add_model')}" class="op">添加模型</a></div>
		<div class="list">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<th width="8%">模型ID</th>
					<th width="12%">模型名称(英文)</th>
					<th width="12%">模型注释(中文)</th>
					<th width="10%">数据表</th>
					<th align="right" style="border:none;text-align:right">操作</th>
				</tr>	
				<volist name="model" id="vo" empty="$empty" >
					<tr>
						<td width="8%">{y!$vo.ID}</td>
						<td width="12%">{y!$vo.Name}</td>
						<td width="12%">{y!$vo.Title}</td>
						<td width="10%">{y!$vo.TableName}</td>
						<td align="right" style="border-right:0">
							<a href="{y!:U('updata_model',array('moid'=>$vo['ID']))}" >[修改]</a> 
							<a href="{y!:U('del_model',array('moid'=>$vo['ID']))}" onclick="return confirm('你确定要删除吗?')" >[删除]</a>
						</td>
					</tr>
				</volist>
			</table>
		</div>		
	</div>
	<div class="cl"></div>	
</div>
<include file="Common/foot"/>
</body>
</html>