<include file="Common/head"/>
<div class="main">
	<include file="Common/left"/>
	<div class="main_right">
	<div class="title"><span></span><strong>反馈内容</strong></div>
			
        
        
        
        
        <div class="mrclass jz">
			<form action="" method="post">
            <div class="mrlist">
               	<ul>
               		
               		<li>
               			<span class="mrtitle fl">留言标题：</span>
               			{y!$se_art.Title}                               
               		</li>
               		<li>
               			<span class="mrtitle fl">留言人：</span>
               			{y!$se_art.Name}               		</li>
					<li>
               			<span class="mrtitle fl">公司：</span>
               			{y!$se_art.Company}               		</li>
               		<li>
               			<span class="mrtitle fl">电话：</span>
               			{y!$se_art.Tel}               		</li>
               		<li>
               			<span class="mrtitle fl">QQ：</span>
               			{y!$se_art.QQ}               		</li>
               		<li>
               			<span class="mrtitle fl">手机：</span>
               			{y!$se_art.Phone}               		</li>
               		<li>
               			<span class="mrtitle fl">E-mail：</span>
               			 {y!$se_art.Email}              		</li>
               		<li>
               			<span class="mrtitle fl">地址：</span>
               			 {y!$se_art.Address}              		</li>
               		<li>
               			<span class="mrtitle fl">内容：</span>
               			 {y!$se_art.Content}              		</li>				
				</ul>

				<a href="{y!:U('index')}" class="ret">返回</a>
			</div>
			
		</div>
        
        
        
        
        
        
        	
	</div>
	<div class="cl"></div>

</div>
<include file="Common/foot"/>
</body>
</html>