<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="{y!:C('HTStyle')}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{y!:C('HTStyle')}/css/Layout.css" type="text/css" />
	<script type="text/javascript" src="{y!:C('HTStyle')}/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="{y!:C('HTStyle')}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{y!:C('HTStyle')}/js/jquery-1.4.2.min.js"></script>
<script>
  var $jq= jQuery.noConflict(true);  
</script>
<script type="text/javascript" src="{y!:C('HTStyle')}/js/jquery.validate.js"></script>
<script type="text/javascript" src="{y!:C('HTStyle')}/js/default.js"></script>
	 <!--[if lt IE 9]>
      <script src="http://{y!$Think.server.HTTP_HOST}__PUBLIC__/html5shiv.min.js"></script>
      <script src="http://{y!$Think.server.HTTP_HOST}__PUBLIC__/respond.min.js"></script>
    <![endif]-->
     <script type="text/javascript" src="__ROOT__/Site/Common/Plug/layer/layer.js"></script>
	<title>{y!$htname}-后台首页</title>
</head>
<body>
<include file="Common/head_nav"/>